[include]
  path = ~/.gitconfig.local
[alias]
	a = add
	b = branch
	br = branch
	c = commit
	co = checkout
	d = diff
	dc = diff --cached
	push-master = push origin HEAD:refs/heads/master
	st = status
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = false
	hooksPath = ~/.config/git_hooks
[color]
	ui = true
[fetch]
	prune = false
[gui]
	encoding = utf-8
[pull]
	rebase = false
